body{
    background-image:url("../img/30747109-beautiful-paddy-with-nice-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
form{
    background-color:transparent ;
    padding: 50px;
    width: 430px;
    margin: 1px auto;
    height: 320px;
}
h2{
    text-align: center;
}
